body {
  background-color: #0f1923;
  color: #ece8e1;
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: #0f1923 !important;
}

.navbar-brand,
.nav-link {
  color: #ece8e1 !important;
  transition: color 0.3s ease;
}

#hero {
  background-color: #1f2733;
  color: #ece8e1;
}

#article {
  background-color: #0f1923;
}

#gallery {
  background-color: #5e2f2f;
}

.card {
  background-color: #1f2733;
  color: #ece8e1;
  border: 1px solid #ff4655;
  transition: transform 0.3s ease;
}

.card-footer small {
  color: #ff4655 !important;
}

.card-title {
  color: #ff4655;
}

footer {
  background-color: #0f1923;
  color: #ece8e1;
}

#hero {
  background-color: #5e2f2f;
}

#hero img {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.5) 1.95px 1.95px 2.6px;
}

.navbar-toggler-icon {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(0deg);
}
